node_modules/
**/node_modules/
dist/
**/dist/
.env
.env.local
**/.env
**/.env.local
*.log
.DS_Store
coverage/
**/coverage/
frontend/.vite/
*.pem
.aws/
**/.aws/
.aws/credentials
.aws/config
**/.aws/credentials
**/.aws/config
